<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
</head>

<h1 class="text-center font-weight-bolder jumbotron">Admin Page</h1>

<a href="/admin/create" class="p-2"><button class="btn btn-dark">Add new Books</button></a>
<a href="/admin/delete" class="p-2"><button class="btn btn-dark">Delete Books</button></a>
<a href="/admin/update" class="p-2"><button class="btn btn-dark">Update Books</button></a>
