<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
    *{
        background-color:antiquewhite;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .btn-xl{
        width: 410px;
        height: 410px;
        padding: 10px 16px;
        border-radius: 335px;
        font-size: 54px;
        position: absolute;
	    top:100px;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
        box-shadow: 0 4px 30px 0 rgba(112, 141, 204, 0.815), 0 6px 30px 0 rgba(55, 90, 243, 0.85);
        transition: 0.51s;
        text-transform: capitalize;
        background: linear-gradient(to top,#3323c4,#1779ff);
    }
    .btn-xl:hover{
        transform: rotate(360deg);
        width: 510px;
        height: 510px;        
        box-shadow: 0 4px 100px 0 rgba(112, 141, 204, 0.815), 0 6px 100px 0 rgba(55, 90, 243, 0.85);
    }
    </style>
</head>

<div class="jumbotron text-center">
<h1 class="text-center font-weight-bolder jumbotron p-2">The Library Management System</h1>
    <a href="/login" class="float-right p-2"><button class="btn btn-dark">User Login</button></a>
    <a href="/adminLogin" class="float-right p-2"><button class="btn btn-dark">Admin Login</button></a>
    <a href="/register" class="float-right p-2"><button class="btn btn-dark">Register</button></a>
</div>
<a href="/index"><button type="button" class="btn btn-primary btn-xl">Explore Library</button></a>
