<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<h1 class="jumbotron font-weight-bolder text-center">Registeration Page</h1>

<form class="form font-weight-bolder p-3" method="post" action="/register">
  <div class="row">
      <div class="col">
        <label for ="firstName">First Name :</label>
        <input type="text" class="form-control" name="firstName" required>
      </div>
      <div class="col">
        <label for ="middleName">Middle Name :</label>
        <input type="text" class="form-control" name="middleName" required>
      </div>
      <div class="col">
        <label for ="lastName">Last Name :</label>
        <input type="text" class="form-control" name="lastName" required>
      </div>
</div>
<div class="row mb-3">
  <div class="col">
    <label for ="username">Username:</label>
    <input type="text" class="form-control" name="username" required>
  </div>
  <div class="col">
    <label for ="password">Password:</label>
    <input type="password" class="form-control" name="password" required>
  </div>
</div>
<button type="submit" class="btn btn-primary text" value="Register">Register</button>
</form>
<div class="p-3">
  <p>Already Registered?</p>
  <a href = "/login"><button class="btn btn-success">Login</button></a>
</div>
